
<body background=".\assets\background-drone.png" class = "background">

    
    <div class="po-offset-xl-6 po-offset-lg-6 po-offset-sm-6 po-offset-md-6 po-lg-6 po-md-6 po-sm-6 po-pull-right po-pb-2">
        <span class="po-font-title">Track Your Drone</span>
    </div>

    <form #f="ngForm" class="template po-offset-xl-6 po-offset-lg-6 po-offset-sm-6 po-offset-md-6 po-lg-6 po-md-6 po-sm-6 po-pull-right po-pb-2 po-pr-0 po-pl-0">
        <div class="po-row">
        <po-input class="po-sm-6" name="label" [(ngModel)]="droneId" p-label="DroneID"></po-input>
        </div>

        <div class="po-row">
            <po-input class="po-sm-6" name="label" [(ngModel)]="latitude" p-label="Latitude"></po-input>
            </div>

            <div class="po-row">
                <po-input class="po-sm-6" name="label" [(ngModel)]="longitude" p-label="Longitude"></po-input>
                </div>

                <div>
                    <span>Temperature</span>
                </div>


                <div class="po-row">
                    <mat-slider class = "po-lg-6"
                        [(ngModel)]= "temperature"
                        p-label="Temperature"
                        thumbLabel
                        [displayWith]="temperatureLabel"
                        tickInterval="40"
                        min="-25"
                        max="40">
                    </mat-slider>
                </div>

                <div><span>Air Humidity</span></div>

                <div class="po-row">
                    <mat-slider class = "po-lg-6"
                        [(ngModel)]= "airHumidity"
                        p-label="Air Humidity"
                        thumbLabel
                        [displayWith]="airHumidityLabel"
                        tickInterval="100"
                        min="0"
                        max="100">
                    </mat-slider>
                </div>



            <div class="po-row">
                <po-button id = "botao" class="po-md-3" p-label="Enable Tracking" (p-click)="restore()"></po-button>
            </div>
    </form>
</body>
