.template{
    color: #546569;
}

.po-font-title{
    width: 100%; 
    height: 450px; 
}


.background{
    background-size: 150%;
    position: top;
    background-repeat: no-repeat;
}

:host ::ng-deep .po-button{
    background-color: #FFAC2B;
    color: black;
    border: white;
    border-radius: 10px;
    font-weight: bold;
}