:host {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0px;
}
:host ::ng-deep .monitor{
    display: grid;
    grid-template-columns: 45% 55%;
}

:host ::ng-deep .po-table-header{
    color: #546569;
    font-weight: bold;
    border-bottom: white;
}

:host ::ng-deep .po-table-single-action{
    color: #FFAC2B;
    font-weight: bold;
}
