<div class="po-row po-lg-12 po-xl-12 po-sm-12 po-md-12">
    <p class="po-font-subtitle">Select the drone to view the history on the map</p>
</div>
<div class="monitor po-row po-lg-12 po-sm-12 po-xl-12 po-md-12" >
    <po-container class="po-pl-0 po-lg-12 po-xl-12 po-sm-12 po-md-12">
        <po-table class="po-pl-0 po-lg-12 po-md-12 po-sm-12 po-xl-12"
            [p-columns]="gridCols"
            [p-actions]="gridActions"
            [p-items]="listDrones"
            p-hide-columns-manager=true
            >
        </po-table>
    </po-container>
    <po-container p-height="600px" class='po-lg-12 po-xl-12 po-sm-12 po-md-12'>
        <google-map #maps style="display: inline;">
            <map-marker #mapsMarker *ngFor="let vertice of vertices; index as mapsIndex"
                      [position]="vertice"
                      [label]="mapsIndex"
                      [options]="markerOptions"></map-marker>
            <map-polyline #mapsPolyline [path]="vertices" [options]="polylineOptions"></map-polyline>
        </google-map>
    </po-container>
</div>