<div class="po-row">
<po-input class="po-lg-12 po-sm-12 po-xl-12 po-md-12"
    p-label="Informe a chave para o Google Maps Platform"></po-input>
</div>
<div class="monitor po-row po-lg-12 po-sm-12 po-xl-12 po-md-12">
    <po-container>
        <po-table class="po-lg-12 po-md-12 po-sm-12 po-xl-12"
            [p-columns]="gridCols"
            [p-actions]="gridActions"
            [p-items]="listDrones"
            p-hide-columns-manager=true
            >
        </po-table>
    </po-container>

    <po-container>
        
    </po-container>
    <div style="background-color: red; width: 100%;">
        
    </div>
    <div style="background-color: blue; width: 100%;">

    </div>
</div>