:host ::ng-deep .po-menu-collapse-button, :host ::ng-deep .po-menu-item, :host ::ng-deep .po-menu-item-no-data{
    color: black;
}


:host ::ng-deep  .po-toolbar-title{
    color: #FFAC2B;
    font-weight: bold;
}

:host ::ng-deep .po-icon-menu-close{
    color: black;
}

:host ::ng-deep .po-icon-menu-open{
    color: black;
}