.po-font-title{
    width: 100%; 
    padding: 0 500px; 
    margin: 40px 400px 40px;
}

:host ::ng-deep .po-table-header{
    color: #546569;
    font-weight: bold;
    border-bottom: white;
}

:host ::ng-deep .po-table-single-action{
    color: #FFAC2B;
    font-weight: bold;
}

:host ::ng-deep .po-icon{
    color: #FFAC2B;
    font-weight: bold;
}

:host ::ng-deep .po-popup-item-default{
    color: #FFAC2B;
    font-weight: bold;
}

:host ::ng-deep .po-container{
    width: 50%; 
    height: 300px; 
    padding: 0 10px; 
    margin: 100px 700px 10px;
    display: block;
}
