<body background=".\assets\background-drone.png" class="background">
    <span class="po-row"> 
        <div class="po-offset-xl-6 po-offset-lg-6 po-offset-sm-6 po-offset-md-6 po-lg-6 po-md-6 po-sm-6 po-pull-right po-pb-2">
            <span class="po-font-title">Consult Your Drone</span>
        </div>
    </span>
    <span class="po-lg-12 po-xl-12 po-sm-12 po-md-12">
        <div class="po-offset-xl-6 po-offset-lg-6 po-offset-sm-6 po-offset-md-6 po-lg-6 po-md-6 po-sm-6 po-pr-0 po-pl-0 po-pull-right">
            <po-table class="po-lg-12 po-md-12 po-sm-12 po-xl-12 po-pl-0 po-pr-0"
                [p-columns]="gridCols"
                [p-actions]="gridActions"
                [p-items]="listDrones"
                p-hide-columns-manager='true'
                p-container='border'>
            </po-table>
        </div>
        <span class="po-offset-xl-6 po-offset-lg-6 po-offset-sm-6 po-offset-md-6 po-lg-6 po-md-6 po-sm-6 po-pr-0 po-pl-0">
            <po-info class="po-lg-12 po-xl-5 po-sm-12 po-md-12 po-pt-2" p-label="Next shipment on" [p-value]="timerTick/1000 + ' seconds '" p-orientation="horizontal"></po-info>
            <po-button class="po-pull-right po-pt-2 po-pl-2 po-pr-0" p-label="New measure" (p-click)="goToCadastro()"></po-button>
            <po-button class="po-pull-right po-pt-2 po-pl-2 po-pr-0" p-label="Force to send drones" (p-click)="forcarEnvio()"></po-button>
        </span>
    </span>
</body>